@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --primary-color: #203363;
    --secondary-color: #6380a6;
    --tertiary-color: #a4b6ce;
    --background-color: #fafafa;
    --table-data-color: #7c7b90;
}

/* Estilos para ocultar/mostrar submenús */
.submenu {
    display: none;
    transition: all 0.3s ease;
}

.submenu.active {
    display: block;
}

/* Rotación de la flecha */
.rotate-180 {
    transform: rotate(180deg);
}

/* Estilos para el menú desplegable del perfil */
.profile-dropdown {
    display: none;
    position: absolute;
    right: 0;
    top: 100%;
    background-color: white;
    border: 1px solid #e2e8f0;
    border-radius: 0.375rem;
    box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -1px rgba(0, 0, 0, 0.06);
    z-index: 10;
}

.profile-dropdown.active {
    display: block;
}