body {
    background-color: #203363; /* Mismo color que el botón de login */
    color: #ffffff;
    /* min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center; */
}

.login-container {
    max-width: 400px;
    width: 100%;
    padding: 2rem;
    background: #ffffff;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.login-container h2 {
    text-align: center;
    margin-bottom: 1.5rem;
    color: #203363;
}